
management:
  metrics:
    export:
      influx:
        uri: ${salus.metrics.influx.uri:http://localhost:8086}
        db: salus
        enabled: ${salus.metrics.influx.enabled:false}
spring:
  application:
    name: salus-telemetry-auth-service
  cache:
    cache-names: clientCerts
    caffeine:
      # Placeholders can be configured by env vars: SALUS_CERTCACHE_MAXSIZE, SALUS_CERTCACHE_TTL
      spec: maximumSize=${salus.cert-cache.max-size:500},expireAfterWrite=${salus.cert-cache.ttl:600s}